<div class="block mb-4 group/item lg:mb-0 lg:inline-block" @click="handleClick">
  <a href="{{ link.url }}" class="flex items-center">
    <div class="flex-shrink-0 w-8 h-8 duration-300 border border-white rounded-full group/edit transition-backgroundColor group-hover/item:bg-white"></div>

    <span class="text-white ml-7 ">
      {{ link.title }}
    </span>
  </a>
    
  {% if link.links %}
    <ul class="flex-col hidden pb-8 mt-6 group/edit ml-14 group-hover/item:flex">
      {% for child in link.links %}
        <li>
          <a href="{{ child.url }}" class="text-white text-body-large">
            {{ child.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>