<a  href="#"
  class="group/item relative flex w-full items-center justify-center overflow-hidden col-span-1">
  <div class="product-image-wrapper scale-x-105">
    <img src="https://images.unsplash.com/photo-1670705848498-0253286bae3a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt="product" class="product-image" />
  </div>
    <div
        class="group/edit absolute inset-0 z-10 translate-y-full flex flex-col justify-between bg-white p-[8px] duration-200 group-hover/item:translate-y-0">
      <span class="text-body-small uppercase text-black inline-block"> CORNFLOWER OXFORD SHIRT </span>
      <div>
        <span class="text-body-small truncate uppercase text-black">125 USD</span>
        <div class="flex">
          <svg
            width="17"
            height="16"
            viewBox="0 0 17 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
            d="M8.60026 1.33368L10.6603 5.50701L15.2669 6.18035L11.9336 9.42701L12.7203 14.0137L8.60026 11.847L4.48026 14.0137L5.26693 9.42701L1.93359 6.18035L6.54026 5.50701L8.60026 1.33368Z"
            fill="#0C140B"
            />
          </svg>
          <svg
            width="17"
            height="16"
            viewBox="0 0 17 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M8.60026 1.33368L10.6603 5.50701L15.2669 6.18035L11.9336 9.42701L12.7203 14.0137L8.60026 11.847L4.48026 14.0137L5.26693 9.42701L1.93359 6.18035L6.54026 5.50701L8.60026 1.33368Z"
              fill="#0C140B"
            />
          </svg>
          <svg
            width="17"
            height="16"
            viewBox="0 0 17 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M8.60026 1.33368L10.6603 5.50701L15.2669 6.18035L11.9336 9.42701L12.7203 14.0137L8.60026 11.847L4.48026 14.0137L5.26693 9.42701L1.93359 6.18035L6.54026 5.50701L8.60026 1.33368Z"
              fill="#0C140B"
            />
          </svg>
          <svg
            width="17"
            height="16"
            viewBox="0 0 17 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M8.60026 1.33368L10.6603 5.50701L15.2669 6.18035L11.9336 9.42701L12.7203 14.0137L8.60026 11.847L4.48026 14.0137L5.26693 9.42701L1.93359 6.18035L6.54026 5.50701L8.60026 1.33368Z"
              fill="#0C140B"
            />
          </svg>
          <svg
            width="17"
            height="16"
            viewBox="0 0 17 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
            opacity="0.5"
            d="M8.60026 1.33368L10.6603 5.50701L15.2669 6.18035L11.9336 9.42701L12.7203 14.0137L8.60026 11.847L4.48026 14.0137L5.26693 9.42701L1.93359 6.18035L6.54026 5.50701L8.60026 1.33368Z"
            fill="#0C140B"
            />
          </svg>
        </div>
      </div>
  </div>
</a>
