{% for i in (1..2) %}

  <div class="col-span-5 grid-cols-grid-10 grid gap-8">

    {% for i in (1..2) %}

      <div class="col-span-5 square-card-wrapper pt-full">
        <img src="https://images.unsplash.com/photo-1670960058964-79063a8ecc91?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt="card" class="c">
        <div class="square-card-inner">
          <p class="h1-title text-white">
            Denim
          </p>
          <p class="text-body-large text-white">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit vulputate libero et velit interdum.
          </p>
        </div>
      </div>

    {% endfor %}

  </div>


{% endfor %}





