<footer class="px-12 pt-20 pb-4 footer">
  <nav class="flex flex-wrap items-end justify-between flex-grow py-4 md:items-center">
    {% render 'nav-footer' %}
  </nav>
</footer>


{% schema %}
{
  "name": "Footer",
  "settings": [

    {
      "type": "text",
      "id": "copyright_text",
      "label": "Copyright Text",
      "default":  "&copy; 2022 All Rights"
    }

  ]
}
{% endschema %}