<div class="container">
  <h1 class="mb-6 text-2xl font-bold text-center md:text-3xl md:mb-16">
    {{ collection.title }}
  </h1>

  {% if collection.description != blank %}
    <p class="max-w-screen-sm mx-auto mb-6 md:-mt-6 md:mb-12">
      {{ collection.description }}
    </p>
  {% endif %}

  {% paginate collection.products by 50 %}
    {% if collection and collection.products %}
      {% assign amount = collection.all_products_count %}
      {% comment %} {% render 'layout-sort-bar', amount: amount class: 'mb-8' %} {% endcomment %}


      <div class="px-4 m-auto md:px-12">
        <div
          class="gap-2 grid-cols-grid-6 aeneid-product-greed lg:grid-cols-grid-10 md:gap-4 lg:gap-8">
          {% for product in collection.products %}
            {% render 'product-card-10-column' %}
          {% endfor %}
        </div>
      </div>

      {% comment %} <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-4 gap-y-8">
        {% for product in collection.products %}
          {% render 'layout-product', product: product %}
        {% endfor %}
      </div> {% endcomment %}
    {% else %}
      <div>
        {{ 'common.no_products' | t }}
      </div>
    {% endif %}

    {% render 'layout-pagination', paginate: paginate %}
  {% endpaginate %}
</div>