<section class="py-24 border-b aeneid-grid">
  <div class="col-span-2">
    <div class="flex items-center">
      <a href="#" class="pl-3 pr-1 text-black text-body-small">HOME</a> /<a href="#" class="pl-1 pr-1 text-black text-body-small">New Arrivals</a>
    </div>
  </div>

  <div class="col-span-4">
    <h2 class="flex h1-title align-start">
      {{ section.settings.collection_featured.title }}
      <span class="ml-4 text-body-large">({{ section.settings.collection_featured | size }})</span>
    </h2>

    {% if section.settings.collection_featured.description %}
      <p class="mt-8 mb-4 text-body-large">
      {{ section.settings.collection_featured.description }}
      </p>
    {% endif %}
  </div>

  <div class="col-span-2">
    <button class="button">
      SHOW FILTERS
    </button>
  </div>
  
  <div class="col-span-2">
    <button class="button">
      SHOW FILTERS
    </button>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.collection.name",
  "settings": [
    {
      "type": "text",
      "id": "headline",
      "label": "t:common.text",
      "default": "Selected products"
    },
    {
      "type": "collection",
      "id": "collection_featured",
      "label": "t:common.collection"
    },
    {
      "type": "select",
      "id": "collection_products_limit",
      "label": "t:sections.collection.settings.max-products-to-display",
      "default": "4",
      "options": [
        {
          "value": "4",
          "label": "t:sections.collection.settings.4-products"
        },
        {
          "value": "8",
          "label": "t:sections.collection.settings.8-products"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collection.name",
      "category": "Collection"
    }
  ]
}
{% endschema %}