<section class="py-14 lg:py-24 aeneid-grid">
  <div class="col-span-full lg:col-span-2">
    <div class="flex items-center text-sm font-bold text-black">
      <a href="#" class="pr-1 lg:pl-3">HOME</a>
      /<a href="#" class="pl-1 pr-1">New Arrivals</a>
    </div>
  </div>

  <div class="col-span-full lg:col-span-4">
    <h2 class="flex text-xl align-start">
      {{ section.settings.collection_featured.title }}
      <span class="ml-4 text-base">({{ section.settings.collection_featured | size }})</span>
    </h2>

    {% if section.settings.collection_featured.description %}
      <p class="my-4 lg:mt-8 ">
        {{ section.settings.collection_featured.description }}
      </p>
    {% endif %}
  </div>

  <div class="col-span-5 lg:col-span-2">
    <button class="button capitalize">
      SHOW FILTERS
    </button>
  </div>

  <div class="col-span-5 lg:col-span-2">
    <button class="button capitalize">
      SORT BY
    </button>
  </div>
</section>

{% comment %} Container Products {% endcomment %}
<div class="grid  grid-cols-product-greed-3 lg:aeneid-grid pb-48">
  {% for i in (0..20) %}
    {% comment %} Product item {% endcomment %}
    <div class="aspect-product col-span-1 lg:col-span-2 2xl:col-span-1 group relative hover:cursor-pointer">
      {% comment %} Image Product {% endcomment %}
      <img class="opacity-100 group-hover:opacity-0 w-full h-full object-cover object-center transition-opacity ease-out"
        width="105"
        height="132"
        src="https://aws-s3-devchallenges-image-upload.s3.ap-northeast-1.amazonaws.com/uploads/910044c1-ab33-420e-a1b2-dcb75ba44654-Aspect Ratio=4_5, Loading=No.png"
        loading="lazy"
        alt="image product">

      {% comment %} Hover content {% endcomment %}
      <div class="opacity-0 group-hover:opacity-100  absolute top-0 flex p-2 h-full flex-col justify-between font-bold transition-opacity ease-out">
        <h3 class="uppercase">Our legacy green  oxford shirt</h3>
        <div>
          <p>125 USD</p>

          {% comment %} Star productICON ) {% endcomment %}
          {% comment %} TODO:CHANGE ICONS TO STAR/STAR-CLOSE ICON  {% endcomment %}
          <div class="flex w-full justify-between">
            {% comment %} Generate random number for preview {% endcomment %}
            {% assign stars = "now" | date: "%N" | modulo: 5 %}
            {% for i in (1..5) %}
              {% if i <= stars %}
                {% render 'icon-menu' %}
              {% else %}
                <span class="opacity-50">
                  {% render 'icon-menu' %}
                </span>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

  {% endfor %}
</div>


{% comment %} FEATURE COLLECTIONS {% endcomment %}
<div>
  <h2>FEATURED COLLECTIONS</h2>
</div>


{% comment %} NEWSLETTER {% endcomment %}
<div class="relative py-36 flex gap-8 flex-col justify-center items-center bg-black bg-no-repeat bg-cover bg-center" style="background-image: url(https://plus.unsplash.com/premium_photo-1669135330361-4f8a363dbefe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);">
  {% comment %} Background opacity {% endcomment %}
  <div class="absolute inset-0 bg-black/30"></div>

  {% comment %} content {% endcomment %}
  <div class="w-64 text-center text-white z-10">
    <h2 class="capitalize pb-4">Newsletter</h2>
    <p>SIGN UP FOR THE LATEST ON NEW PRODUCTS, RECIPES, EVENTS, AND MUCH MORE ...</p>
  </div>

  {% comment %} Form {% endcomment %}
  <form class="flex z-10">
    <div class="px-8 border border-white text-white">
      {% comment %} create input text with label {% endcomment %}
      <label for="email" class="uppercase text-sm mr-8">Email</label>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Your email address"
        class="py-4 w-60 bg-transparent placeholder:text-white/30 outline-none">
    </div>
    <button type="submit" class="px-8 py-4 border border-white border-l-transparent text-sm text-white hover:bg-white hover:text-black transition-colors ease-out">
      SEND
    </button>
  </form>

</div>

{% schema %}
  {
    "name": "t:sections.collection.name",
    "settings": [
      {
        "type": "text",
        "id": "headline",
        "label": "t:common.text",
        "default": "Selected products"
      }, {
        "type": "collection",
        "id": "collection_featured",
        "label": "t:common.collection"
      }, {
        "type": "select",
        "id": "collection_products_limit",
        "label": "t:sections.collection.settings.max-products-to-display",
        "default": "4",
        "options": [
          {
            "value": "4",
            "label": "t:sections.collection.settings.4-products"
          }, {
            "value": "8",
            "label": "t:sections.collection.settings.8-products"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.collection.name",
        "category": "Collection"
      }
    ]
  }
{% endschema %}