{% assign image = section.settings.image %}

<section
  class="flex items-center bg-center bg-no-repeat bg-cover hero min-h-[780px] bg-hero-pattern"
  style="background-image: url('{{ image | img_url: '1500x' }}');"
>
  <div class="text-white aeneid-grid">
    <div class="col-span-4 col-start-3">
      {% for block in section.blocks %}
        {% render 'featured-collection-block', block: block, class: 'flex flex-col' %}
      {% endfor %}
    </div>
  </div>
</section>
    

{% schema %}
{
  "name": "Hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Featured Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "checkbox",
          "id": "show_count",
          "label": "Show collection size",
          "default": true
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "info": "Leave empty to use collection name.",
          "default": "New Arrivals"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "button",
          "label": "Button Text",
          "default": "Shop Now",
          "info": "Leave empty to hide button"
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Alignment",
          "options": [
            {
              "value": "items-start",
              "label": "left"
            },
            {
              "value": "items-center",
              "label": "center"
            },
            {
              "value": "items-end",
              "label": "right"
            }
          ],
          "default": "items-center"
        }

      ]
    }
  ],
  "presets": [
    {
      "name": "Hero",
      "category": "Image"
    }
  ]
}
{% endschema %}