<div class="container grid gap-6 p-8">
    <h1 class="text-lg md:text-xl">Desktop Heading, 36px/48px</h1>
    
    <hr />

    <p class="text-base">Body Copy, 16px</p>
    <p class="text-base">Some cast members developed romantic relationships with their castmates. 1994 San Francisco roommates Pam Ling and Judd Winick have since married 131 as have their roommate Rachel Campos and Sean Duffy of the Boston cast.  In the 2002–2003 Las Vegas season, Trishelle Cannatella and Steven Hill consummated a romance during the show, while their roommates Irulan Wilson and Alton Williams began a relationship that continued for three years after they moved out of the Las Vegas suite.</p>
    <hr />

    <p class="text-sm font-bold">Body Small, 12px</p>
    <p class="text-sm font-bold">Half-hour episodes for the first 19 seasons, one-hour episodes beginning with the twentieth.</p>
  
    <hr />

    <label class="text-xs font-bold uppercase">Label, 10px</label>
    <label class="text-xs font-bold uppercase">In The Confessional</label>
</div>

{% schema %}
{
  "name": "Style",
  "presets": [
    {
      "name": "Style",
      "category": "Text"
    }
  ]
}
{% endschema %}