<div class="swiper aeneid-content-slider col-span-full">
  <div class="swiper-wrapper">
    {% for i in (1..15) %}
      <div class="swiper-slide slider-content-slide group/item">
        <div class="slider-content-image">
          <img  class="c"
                src="https://images.unsplash.com/photo-1661956602926-db6b25f75947?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt="product">
        </div>
        <div class="slider-content-inner">
          <div class="slider-content-top">
            <div class="slider-content-top-title">
              BOB BARKER PHILAHARMONIC HARDY on 08.21.2022 {{ i }}
            </div>
            <div class="slider-content-text">
              Deep Routes is a radio series produced with Metro Art that surveys the intersecting musical histories embedded in the Los Angeles music landscape.
            </div>
            <div class="slider-content-label-block">
              {% for i in (1..5) %}
                <a href="" class="slider-content-label">alternative</a>
              {% endfor %}
            </div>
          </div>
          <div class="slider-content-text hidden md:block group/edit group-hover/item:my-auto">
            Deep Routes is a radio series produced with Metro Art that surveys the intersecting musical histories embedded in the Los Angeles music landscape.
          </div>
          <a href="#" class="content-slider-btn hover:text-black">
            Read More
            <svg width="24" height="24" viewBox="0 0 24 24" class="ml-6" style="" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7 17L16.3252 7.6748" stroke="currentColor" stroke-width="2" stroke-linecap="square"></path>
              <path d="M7 7H17V17" stroke="currentColor" stroke-width="2" stroke-linecap="square"></path>
            </svg>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>