@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    body {
        @apply text-base;
        @apply font-medium;
        @apply font-default;
        @apply antialiased;
        @apply bg-white;
    }
}

@layer components {
    /* 
    * 
    * TYPOGRAPHY
    * 
    */
    .type-heading {
        @apply font-medium;
        @apply text-lg;
        @apply md:text-xl;
    }

    .type-label {
        @apply font-bold;
        @apply text-xs; 
    }

    /* 
    * 
    * BUTTONS
    * 
    */
    .button {
        @apply flex;
        @apply items-center;
        @apply justify-between;
        @apply w-full;
        @apply py-4;
        @apply text-sm;
        @apply font-bold;
        @apply px-7;
        @apply text-black;
        @apply border-black;
        @apply border;
        @apply duration-200;
    }
}

.aeneid-navigation {
    @apply border-b;
    /* @apply absolute; */
    @apply inset-x-0;
    @apply transition-all;
    @apply max-h-screen;
    @apply fixed;
    @apply overflow-y-auto;
    @apply z-50;
}


@layer utilities {
    .aeneid-grid {
        @apply px-4;
        @apply lg:px-12;
        @apply gap-8;
        @apply mx-auto;
        @apply grid;
        grid-template-columns: theme('gridTemplateColumns.grid-10');
    }

    .aeneid-product-greed {
        @apply grid;
        @apply auto-rows-auto;
        @apply items-center;
        @apply py-10;
        grid-template-columns: theme('gridTemplateColumns.grid-6');
    }
    .aeneid-product-card {
        @apply  relative;
        @apply  flex;
        @apply  flex-col;
        @apply  w-full;
        @apply  items-center;
        @apply  justify-start;
        @apply  overflow-hidden;
        @apply  flex-grow;
    }

    .aeneid-pagination-item {
        @apply w-8;
        @apply h-8;
        @apply rounded-full;
        @apply flex;
        @apply items-center;
        @apply justify-center;
        @apply duration-200;
        @apply mx-1 truncate;
    }

    .pagination-item-current {
        @apply rounded-full;
        @apply border;
    }

    .aeneid-pagination-nav {
        @apply text-sm;
        @apply col-span-10;
        @apply flex;
        @apply flex-col;
        @apply items-center;
        @apply justify-center;
        @apply justify-self-stretch;
        @apply px-4;
        @apply py-2;
        @apply px-12;
    }

    .btn-disabled {
        @apply cursor-not-allowed;
        @apply pointer-events-none;
        @apply text-opacity-75;
        touch-action: none;
    }

    .product-image-wrapper {
        @apply relative;
        @apply w-full;
        padding-top: 123%;
        @apply bg-white;
    }

    .product-image {
        @apply absolute;
        @apply h-full;
        @apply object-contain;
        @apply -translate-y-1/2;
        @apply -translate-x-1/2;
        top: 50%;
        left: 50%;
    }

    .navigation-white {
        @apply bg-white;
        @apply border-black;
        @apply bg-opacity-100;

    }

    .navigation-transparent {
        @apply border-white;
        @apply text-white;
        @apply bg-opacity-0;
    }

    .navigation-black {
        @apply bg-black;
        @apply border-0;
        @apply text-white;
    }

    .header-nav-links .hide {
        @apply hidden;
    }
}

.pill {
    @apply flex;
    @apply px-4;
    @apply py-1;
    @apply duration-200;
    @apply rounded-full;
    @apply text-sm;
    @apply hover:invert;
    @apply font-bold;

}

.pill-white {
    @apply text-black;
    @apply bg-white;
}


@screen lg {
    .header-nav-links .text-body-small {
        @apply block;
    }

    .aeneid-product-greed {
        grid-template-columns: theme('gridTemplateColumns.grid-10');
    }
}

