@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
    body {
        font-size: theme('fontSize.bodyLarge');
        overflow-x: hidden;
        @apply font-default;
        @apply antialiased;
        @apply font-medium;
    }

    .h1-title {
        font-size: theme('fontSize.heading');
        font-weight: theme('fontWeight.medium');
        line-height: theme('lineHeight.48');
    }

    .text-body-large {
        font-size: theme('fontSize.bodyLarge');
        font-weight: theme('fontWeight.medium');
        line-height: theme('lineHeight.24');
    }

    .text-body-small {
        font-size: theme('fontSize.bodySmall');
        font-weight: theme('fontWeight.bold');
        line-height: theme('lineHeight.16');
    }

    .text-label {
        font-size: theme('fontSize.label');
        font-weight: theme('fontWeight.bold');
        line-height: theme('lineHeight.12');
    }

    .aeneid-navigation {
        @apply border-b-[0.5px];
        @apply absolute;
        @apply inset-x-0;
        @apply z-50;
    }
}

@layer utilities {
    .aeneid-grid {
        @apply px-4;
        @apply md:px-12;
        @apply gap-8;
        @apply m-auto;
        @apply grid;
        grid-template-columns: theme('gridTemplateColumns.grid-10');
    }

    .aeneid-product-greed {
        @apply grid;
        @apply auto-rows-auto;
        @apply items-center;
        @apply py-10;
        grid-template-columns: theme('gridTemplateColumns.grid-6');
    }
    .aeneid-product-card {
        @apply  relative;
        @apply  flex;
        @apply  flex-col;
        @apply  w-full;
        @apply  items-center;
        @apply  justify-start;
        @apply  overflow-hidden;
        @apply  flex-grow;
    }

    .aeneid-pagination-item {
        @apply w-8;
        @apply h-8;
        @apply rounded-full;
        @apply flex;
        @apply items-center;
        @apply justify-center;
        @apply duration-200;
        @apply mx-1 truncate;
    }

    .pagination-item-current {
        @apply rounded-full;
        @apply border;
    }

    .aeneid-pagination-nav {
        @apply text-body-small;
        @apply col-span-10;
        @apply flex;
        @apply flex-col;
        @apply items-center;
        @apply justify-center;
        @apply justify-self-stretch;
        @apply px-4;
        @apply py-2;
        @apply px-12;
    }

    .btn-disabled {
        @apply cursor-not-allowed;
        @apply pointer-events-none;
        @apply text-opacity-75;
        touch-action: none;
    }

    .product-image-wrapper {
        @apply relative;
        @apply w-full;
        padding-top: 123%;
        @apply bg-white;
    }

    .product-image {
        @apply absolute;
        @apply h-full;
        @apply object-contain;
        @apply -translate-y-1/2;
        @apply -translate-x-1/2;
        top: 50%;
        left: 50%;
    }

    .navigation-white {
        @apply bg-white;
        @apply border-black;
    }

    .navigation-transparent {
        @apply bg-transparent;
        @apply border-white;
        @apply text-white;
    }

    .navigation-black {
        @apply bg-black;
        @apply border-0;
        @apply text-white;
    }

    .header-nav-links .hide {
        @apply hidden;
    }
}

.pill {
    @apply flex;
    @apply px-4;
    @apply py-1;
    @apply duration-200;
    @apply rounded-full;
    @apply text-body-small;
    @apply hover:invert;

}

.pill-white {
    @apply text-black;
    @apply bg-white;
}
/* 
.header-logo svg {
    @apply w-full;
    @apply h-full;
} */

@screen lg {
    .header-nav-links .text-body-small {
        @apply block;
    }

    .aeneid-product-greed {
        grid-template-columns: theme('gridTemplateColumns.grid-10');
    }
}