<div class="m-auto px-4 md:px-12">
  <div
    class="grid-cols-grid-6 aeneid-product-greed gap-2 lg:grid-cols-grid-10 md:gap-4 lg:gap-8">
    {% for i in (1..15) %}
      {% render 'product-card-10-column.liquid' %}
    {% endfor %}
  </div>
</div>