<a
  href="#"
  class="group/item aeneid-product-card col-span-6 sm:col-span-3 md:col-span-2">
  <div class="absolute z-10 right-[10px] top-[10px]">
    <div class="px-[13px] py-[2px] text-white text-label bg-black rounded-full flex group/edit md:group-hover/item:hidden">
      SALE
    </div>
    <div class="hidden group/edit md:group-hover/item:flex">
      <div class="flex">
        <svg
          width="17"
          height="16"
          viewBox="0 0 17 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M8.60026 1.33368L10.6603 5.50701L15.2669 6.18035L11.9336 9.42701L12.7203 14.0137L8.60026 11.847L4.48026 14.0137L5.26693 9.42701L1.93359 6.18035L6.54026 5.50701L8.60026 1.33368Z"
            fill="#0C140B"/>
        </svg>
        <svg
          width="17"
          height="16"
          viewBox="0 0 17 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            opacity="0.5"
            d="M8.60026 1.33368L10.6603 5.50701L15.2669 6.18035L11.9336 9.42701L12.7203 14.0137L8.60026 11.847L4.48026 14.0137L5.26693 9.42701L1.93359 6.18035L6.54026 5.50701L8.60026 1.33368Z"
            fill="#0C140B"/>
        </svg>
      </div>
    </div>
  </div>
  <div class="product-image-wrapper">
    <picture class="group/edit opacity-100 md:group-hover/item:opacity-0 duration-200">
      <source class="product-image" media="(min-width: 768px)" srcset="https://images.unsplash.com/photo-1670705848498-0253286bae3a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60">
      <source class="product-image" media="(min-width: 330px)" srcset="https://images.unsplash.com/photo-1670620928274-4db604f1e4b1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxNHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60">
      <img src="https://images.unsplash.com/photo-1670620928274-4db604f1e4b1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxNHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60" alt="product" class="product-image">
    </picture>
    <picture class="group/edit  opacity-0  md:group-hover/item:opacity-100 duration-200">
      <img src="https://images.unsplash.com/photo-1670620928274-4db604f1e4b1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxNHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60" alt="product" class="product-image">
    </picture>
  </div>
  <div
    class="flex flex-col justify-between bg-white p-[8px] w-full text-body-small lg:text-body-large flex-grow">
    <div>
      <span class="uppercase text-black block"> SPECIAL OFFER </span>
      <span class="uppercase text-black block"> CORNFLOWER OXFORD SHIRT </span>
    </div>
    <div>
      <div class="text-black hidden group/edit md:group-hover/item:flex">
        <span class="mr-1 shrink-0">available in </span>
        <span class="uppercase mr-1 opacity-50">XS</span>
        <span class="uppercase mr-1 opacity-50">S</span>
        <span class="uppercase mr-1">M</span>
        <span class="uppercase mr-1">L</span>
        <span class="uppercase mr-1">XL</span>
      </div>
      <div class="flex group/edit md:group-hover/item:hidden">
        <span class="truncate uppercase text-black inline-block mr-2">150 $</span>
        <span class="truncate uppercase text-black line-through text-opacity-50">180 $</span>
      </div>
    </div>
  </div>
</a>
